{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">{{ title }}</h1>
<form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}

    <div class="space-y-4">
        {{ form.as_p }}
    </div>

    {% if form.errors or form.non_field_errors %}
    <div class="mb-3 p-6 bg-red-100 rounded-xl">
        <ul class="list-disc list-inside text-sm text-red-600">
            {% for field in form %}
            <li>{{ field.errors }}</li>
            {% endfor %}

            {{ form.non_field_errors }}
        </ul>
    </div>
    {% endif %}

    <button type="submit"
        class="mt-6 px-6 py-3 text-lg font-semibold bg-orange-400 hover:bg-orange-600 text-white rounded-xl hover:text-white-400">
        Save</button>

</form>
{% endblock content %}